version: '3.9'

services:
  room-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: room-service
    ports:
      - "3003:3003"
    env_file:
      - .env
    volumes:
      - /app/node_modules
    command: sh -c "npx prisma migrate deploy && node dist/main"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3003/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    networks:
      my_custom_network:
        ipv4_address: ${APP_IP}

networks:
  my_custom_network:
    external: true